.ico {
	margin: 0px 5px -4px 0px;
}
#myInput {
	width: 600px;
	float: left;
}

#content {
	float: right;
	width: 80%;
}

#tree-container {
	float: left;
	width: 20%;
	height: 100%;
	overflow: scroll;
	position: fixed;
}